*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1.6;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bd {
    border: 1px solid black;
}

h1 {
    font-weight: 600;
    font-size: 22px;
    color: #2F463D;
    margin-bottom: 10px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #828282;
    line-height: 26px;
}

.main-container {
    width: 375px;
    height: 709px;
    margin: auto;
    background-image: url(https://assets.codepen.io/6060109/ZigZag.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
}

.content-container-1, .content-container-3 {
    display: none;
}

.content-container {
    width: 327px;
    height: 567px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    position: relative;
}

.close-x {
    height: 22px;
    display: flex;
    justify-content: flex-end;
}

.top-image img {
    margin: 16px auto;
}

.word-content-container {
    width: 300px;
    padding: 10px;
    margin: auto;
}

.dish-selection-word-container {
    margin-top: 75px;
}

.order-container {
    padding: 0 5px;
}

.order-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: #F0FFF5;
    margin: 24px 0 28px;
    padding-right: 20px;
}


.price-container {
    padding: 0 20px;
    font-size: 14px;
}

.food {
    font-weight: 800;
    letter-spacing: 1px;
}

.price {
    font-weight: 400;
    color: #7A8F85;
}

.change a {
    font-size: 13px;
    font-weight: 600;
    color: #467A66;
    transition: color 0.3s ease-in-out;
}

.change a:hover {
    color: #3f6b5a;
}

button {
    position: relative;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

.active-btn {
    background-color: #46A67E;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
}

.inactive-btn {
    background: #BDBDBD;
    box-shadow: 0px 20px 20px #bdbdbd36;
    margin-top: 55px;
    margin-bottom: 20px;
}

.dots-container {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin: auto;
    margin-top: 42px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.dot-active {
    background-color: #67BD99;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-container {
        min-width: 1440px;
        height: 900px;
        justify-content: space-evenly;
    }

    .content-container-1, .content-container-3 {
        display: block;
    }

    .content-container.content-container-1 {
        right: -70px;
        transform: scale(0.9);
    }

    .content-container.content-container-3 {
        left: -70px;
        transform: scale(0.9);
        z-index: 0;
    }

    .content-container.content-container-2 {
        z-index: 5;
    }

    .content-container {
        width: 450px;
        height: 690px;
        padding: 20px;
    }

    .close-x {
        height: 31px;
    }

    .top-image img {
        width: 150px;
        margin-bottom: 30px;
    }

    .word-content-container {
        width: 354px;
        padding: 0;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 24px;
    }

    p {
        font-size: 16px;
    }

    .order-container {
        padding: 0 28px;
    }

    .dots-container {
        width: 65px;
        margin-top: 78px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

}
